// hero

.hero {
	max-width: 480px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 118px;
	padding-bottom: 118px;
	background-color: #C4C4C4;
	text-align: center;
	border: 1px solid #000;
	background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bg_mobi.jpg');
	background-size: cover;

	@media (min-device-pixel-ratio: 2),
	(-webkit-min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bg_mobix2.jpg');
	}

	@media (min-width:768px) and (max-width: 1200px) {
		max-width: 768px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bg_tablet.jpg');

		@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bg_tabletx2.jpg');
		}
	}

	@media (min-width:1201px) {
		max-width: 1600px;
		min-height: 600px;
		padding-top: 200px;
		padding-bottom: 200px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bg.jpg');

		@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url('../images/hero-bgx2.jpg');
		}


	}
}

.hero__title {
	color: #fff;

	font-size: 26px;
	font-weight: 900;
	line-height: 1.61;
	letter-spacing: 1.56px;
	text-transform: uppercase;

	max-width: 360px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;

	@media (min-width:1201px) {
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 2.64px;
		max-width: 696px;
	}

}