.portfolio__naviagtion {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}

.naviagtion__button--active {
	background-color: var(--color-accent);
	color: #fff;

}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.grid__item {
	flex-basis: calc((100% / 3) - 20px);
}

.grid__block {
	position: relative;
	overflow: hidden;
}

.grid__text-additional {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	background: rgba(33, 150, 243, 0.90);
	color: #FFF;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.54px;
	transform: translateY(100%);
	transition: transform var(--transition-duration) var(--transition-function);
}


.grid__link {
	display: block;
	text-decoration: none;
	transition: box-shadow var(--transition-duration) var(--transition-function);

	&:hover,
	&:focus {
		box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
	}

	&:hover .grid__text-additional,
	&:focus .grid__text-additional {
		transform: translateY(0);
	}
}


.grid__texts {
	padding: 20px 24px;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
}

.grid__name {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 1.08px;
	color: var(--color-title);

	margin-bottom: 4px;
}

.grid__description {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.48px;
}