.button {
	display: inline-flex;
	align-items: center;
	column-gap: 10px;
	padding: 10px 32px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	color: #fff;
	background-color: var(--color-accent);
	font-family: $fontRoboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	letter-spacing: 0.96px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
	transition: color var(--transition-duration) var(--transition-function),
		background-color var(--transition-duration) var(--transition-function),
		box-shadow var(--transition-duration) var(--transition-function);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: #188CE8;
	}

	svg {
		fill: currentColor;
	}

}

.button--less {
	padding: 6px 22px;
	background-color: var(--color-background);
	color: var(--color-title);
	box-shadow: none;

	&:hover,
	&:focus {
		background-color: var(--color-accent);
		color: #fff;
		box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
	}
}